<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>TaskScheduler</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>EmpLoginServlet</display-name>
    <servlet-name>EmpLoginServlet</servlet-name>
    <servlet-class>com.servlets.EmpLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpLoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteTaskServlet</display-name>
    <servlet-name>DeleteTaskServlet</servlet-name>
    <servlet-class>com.servlets.DeleteTaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTaskServlet</servlet-name>
    <url-pattern>/deleteTask</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditTaskServlet</display-name>
    <servlet-name>EditTaskServlet</servlet-name>
    <servlet-class>com.servlets.EditTaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditTaskServlet</servlet-name>
    <url-pattern>/editTask</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MangLoginServlet</display-name>
    <servlet-name>MangLoginServlet</servlet-name>
    <servlet-class>com.servlets.MangLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MangLoginServlet</servlet-name>
    <url-pattern>/mlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WeeklyDetailsServlet</display-name>
    <servlet-name>WeeklyDetailsServlet</servlet-name>
    <servlet-class>com.servlets.WeeklyDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WeeklyDetailsServlet</servlet-name>
    <url-pattern>/weekly</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MonthlyDetailsServlet</display-name>
    <servlet-name>MonthlyDetailsServlet</servlet-name>
    <servlet-class>com.servlets.MonthlyDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MonthlyDetailsServlet</servlet-name>
    <url-pattern>/monthly</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddManagerServlet</display-name>
    <servlet-name>AddManagerServlet</servlet-name>
    <servlet-class>com.servlets.AddManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddManagerServlet</servlet-name>
    <url-pattern>/addManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEmployeeServlet</display-name>
    <servlet-name>AddEmployeeServlet</servlet-name>
    <servlet-class>com.servlets.AddEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEmployeeServlet</servlet-name>
    <url-pattern>/addEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteManagerServlet</display-name>
    <servlet-name>DeleteManagerServlet</servlet-name>
    <servlet-class>com.servlets.DeleteManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteManagerServlet</servlet-name>
    <url-pattern>/deleteManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteEmployeeServlet</display-name>
    <servlet-name>DeleteEmployeeServlet</servlet-name>
    <servlet-class>com.servlets.DeleteEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEmployeeServlet</servlet-name>
    <url-pattern>/deleteEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTaskServlet</display-name>
    <servlet-name>AddTaskServlet</servlet-name>
    <servlet-class>com.servlets.AddTaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTaskServlet</servlet-name>
    <url-pattern>/addTask</url-pattern>
  </servlet-mapping>
</web-app>